! -- Xft settings -- !
Xft.dpi:        96
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting:    true
Xft.antialias:  true
Xft.rgba:       rgb



! -- URxvt settings -- !

! General
URxvt.termName:     rxvt-unicode-256color
URxvt.loginShell:   false
URxvt.saveLines:    8192
URxvt.lineSpace:    -1
URxvt.iso14755:     false
URxvt.iso14755_52:  false

! UI
URxvt.colorUL:  #fabd2f
URxvt.fading:   30

! Fonts
URxvt.font:             xft:Meslo LG S for Powerline:style=Regular:size=11
URxvt.boldFont:         xft:Meslo LG S for Powerline:style=Bold:size=11
URxvt.italicFont:       xft:Meslo LG S for Powerline:style=Italic:size=11
URxvt.boldItalicFont:   xft:Meslo LG S for Powerline:style=Bold Italic:size=11

! Scrollbar
URxvt.scrollBar:    false
! URxvt.scrollstyle:  plain

! Scrolling
URxvt.scrollTtyOutput:    false
URxvt.scrollWithBuffer:   true
URxvt.scrollTtyKeypress:  true

! Icon file
URxvt.iconFile: /usr/share/icons/FaenzaFlattr/apps/scalable/Terminal.svg

! Cursor
URxvt.cursorBlink:  true
! URxvt.cursorColor:  #fabd2f
! URxvt*cursorUnderline: true

! Window borders
URxvt.internalBorder: 0
URxvt.externalBorder: 0

! Perl extensions
URxvt.perl-ext-common:          default,clipboard
! clipboard
URxvt.keysym.C-C:               perl:clipboard:copy
URxvt.keysym.C-V:               perl:clipboard:paste
URxvt.keysym.M-v:               perl:clipboard:paste_escaped
! url-select
! URxvt.url-select.underline:     true
! URxvt.url-select.launcher:      /usr/bin/xdg-open
! URxvt.keysym.M-u:               perl:url-select:select_next
! keyboard-select
! URxvt.keysym.M-Escape:          perl:keyboard-select:activate
! URxvt.keysym.M-s:               perl:keyboard-select:search


! Gruvbox color scheme
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! URxvt colors to match Gruvbox
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f4e8ba
URxvt.color229: #fdf4c1
URxvt.color230: #ffffc8
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1
